<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        2. Fetch More Data<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="fetchForceDetail()" style="cursor: pointer;">Force Details</a></li>
        <li><a style="cursor: pointer;" (click)="fetchSeniors()" style="cursor: pointer;">Senior Officers</a></li>
        <li><a style="cursor: pointer;" (click)="fetchSearch()" style="cursor: pointer;">Stop & search</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row" *ngIf="showDetail">
  <div>

    <ul class="list-group" *ngIf="loadedForceDetails.length >= 1">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ this.loadedForceDetails[5] }}</h1>
        </div>
      </div>
        <p>Website: <a>{{ this.loadedForceDetails[1] }}</a></p>
        <p>Telephone Number: {{ this.loadedForceDetails[3] }}</p>
        <span [innerHTML]="this.loadedForceDetails[0]"></span>
    </ul>

    <ul class="list-group" *ngIf="loadedForceDetails.length === 0">No Force data available
    </ul>
  </div>
</div>

<div class="row" *ngIf="showSeniors">
  <div>

        <div *ngIf="loadedSeniors.length >= 1">
          <h1>{{ this.loadedForceDetails[5] }}</h1>
          <h4>Senior Officers:</h4>
        <div
 [value]="name" *ngFor="let senior of loadedSeniors">
 <br>
 <h4>{{ senior.name }}</h4>
  <h5>Rank: {{ senior.rank }}</h5>
    <div>
      <a [href]=senior.contact_details.twitter>{{ senior.contact_details.twitter }}</a>
    </div>
  <span [innerHTML]="senior.bio"></span><br>
</div>
        </div>

      <div *ngIf="loadedSeniors.length === 0">
        <h1>{{ this.loadedForceDetails[5] }}</h1>
        <h4>Senior Officers:</h4>
        No data available
      </div>

      </div>
      </div>

      <div class="row" *ngIf="showSearch">
        <div>

              <div *ngIf="loadedSearch.length >= 1">
                <h1>{{ this.loadedForceDetails[5] }}</h1>

                <h4>{{ loadedSearch.length }} of stop & searches conducted in the last month:</h4>

              <div
       *ngFor="let search of loadedSearch">

       <div>Type of search: {{ search.type }}</div>
        <div>Gender: {{ search.gender }}</div>
        <div>Ethnicity (Officer defined): {{ search.officer_defined_ethnicity }}</div>
        <div>Age range: {{ search.age_range }}</div>
        <br>
      </div>
              </div>

            <div *ngIf="loadedSearch.length === 0">
              <h1>{{ this.loadedForceDetails[5] }}</h1>
              <h4>Most recent Stop & Search data:</h4>
              No data available
            </div>

            </div>
            </div>
