<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
  <div class="pull-left">
    <!-- <h4 *ngIf="loadedforces.length < 1">No Forces Found!</h4> -->
    <h4 class="list-group-item-heading">{{ force.name }}</h4>
    <!-- <h4 class="list-group-item-heading">API ID: {{ force.id }}</h4> -->

    <!-- <p class="list-group-item-text">{{ force.url }}</p>
    <p class="list-group-item-text">{{ force.telephone }}</p> -->
  </div>
  <!-- <span class="pull-right">
    <img
    [src]="force.imagePath"
    alt="{{ force.name }}"
    class="img-responsive"
    style="max-height: 50px;">
  </span> -->
</a>
